* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a, a:active, a:focus, select, select:active, select:focus, input, input:active, input:focus, option, option:active, option:focus {
  outline:none !important;
}
html {
  font-size: 10px;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Tahoma', monospace;
  font-size: 12px;
  overflow-x: hidden;
  line-height: 1;
  padding: 0;
  margin: 0;
  user-select: none;
  background-color: #101419;
  color: #ccc;
}
label {
  display: block;
  font-size: 14px;
  height: 24px;
}
td {
  vertical-align: top;
}
select, input {
  background-color: #0d0d0d;
  border: 1px solid #000;
  color: #ccc;
}
select:active, input:active,
select:focus, input:focus {
  border: 1px solid #b48300;
}
select[disabled], input[disabled] {
  background-color: #919191;
  border: 1px solid #9b9b9b;
  color: #000;
  opacity: 0.5;
}
.form-label {
  display: inline-block;
  width: 100px;
  font-size: 14px;
  height: 24px;
}
.form-input {
  display: inline-block;
  width: 120px;
}
.form-input input,
.form-input select{
  display: inline-block;
  width: 120px;
}

.item-container {
  position: relative;
  float: left;
  width: 236px;
  height: 100%;
  max-height: 100%;
  background-color: #2b3944;
  color: #eee;
  overflow: hidden;
  z-index: 3;
  border-right: 2px solid #0b0f12;
}
.item-list {
  overflow-y: scroll;
  scrollbar-color: rgba(255, 252, 243, 0.5) #181f26;
  height: calc(100vh);
  background-color: rgba(0,0,0,0.25)
}
.item-select {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  border: 2px outset #181f26;
  width: 36px;
  height: 36px;
}
.item-select.active {
  border: 2px inset #b37f00;
  background-color: rgba(0, 0, 0, 0.47);
  color: #fff;
}
.item-select img,
.item-add img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: 0 0;
}
.item-add {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  border: 2px solid transparent;
  width: 36px;
  height: 36px;
}
hr {
  margin: 5px 0 10px 0;
  padding: 0;
  border: 1px solid #888;
  border-bottom: 0;
}
.stack-label {
  font-size: 14px;
  margin: 0 0 3px 0;
}
.sprite-box {
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  background-color: #0d0d0d;
  background-size: cover;
  display: inline-block;
  margin-bottom: 8px;
  cursor: pointer;
}
.sprite-box:hover {
  border: 1px solid #b48300;
  background-color: rgba(255,255,255,0.5);
}
.sprite-modal {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #202b33;
  overflow-y: scroll;
  padding: 5px;
  -webkit-box-shadow: -5px 0px 9px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 0px 9px 5px rgba(0,0,0,0.75);
  box-shadow: -5px 0px 9px 5px rgba(0,0,0,0.75);
}
.sprite-modal.x1{
  width: 435px;
}
.sprite-modal.x2{
  width: 555px;
}
.sprite {
  display: inline-block;
  border: 1px solid #000000;
  background-color: #171d27;
  cursor: pointer;
}
.sprite:hover {
  border: 1px solid #b48300;
  background-color: #586e87;
}
[data-paddings="true"]::after {
  content: "\f065";
  font: normal normal normal 11px/1 FontAwesome;
  position: absolute;
  right: 1px;
  bottom: 1px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}