* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Tahoma', monospace;
  font-size: 13px;
  overflow-x: hidden;
  color: #333;
  padding: 0;
  margin: 0;
}

/*MAIN CONTAINERS*/
.item-container {
  position: relative;
  float: left;
  width: 236px;
  height: 100%;
  max-height: 100%;
  background-color: #2b3944;
  color: #eee;
  overflow: hidden;
  z-index: 3;
  border-right: 2px solid #0b0f12;
}
.map-container {
  margin-top: 32px;
  float: left;
  width: calc(100% - 236px);
  height: calc(100vh - 32px);;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #000;
  z-index: 1;
  scrollbar-color: rgba(255, 252, 243, 0.5) #181f26;
}
.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #181f26;
  border-bottom: 2px solid #0b0f12;
  z-index: 2;
  padding: 3px 10px 0 240px;
  height: 32px;
  cursor: default;
}
#Coords, #Eraser, #SaveWorld, #LoadWorld {
  padding: 2px 5px;
  font-weight: bold;
  display: inline-block;
  color: #ddd;
}
#Eraser:hover, #SaveWorld:hover, #LoadWorld:hover {
  background-color: #415061;
  color: #f9e3bf;
}
#Eraser, #SaveWorld, #LoadWorld {
  border: 1px solid #141c27;
  background-color: #28323c;
  color: #dca855;
  cursor: pointer;
}

/*item-container*/
#Layer {
  width: 100%;
  padding: 2px;
  border: 1px solid #12131e;
  color: #eee;
  height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(dropdown.png) 98% no-repeat #181f26;
}
.actual-item {
  position: relative;
  margin: 10px;
  height: 100px;
}
.actual-item-image,
.secondary-item-image {
  position: absolute;
  width: 68px;
  height: 68px;
  border: 2px inset #141414;
  background-color: #181f26;
}
.actual-item-image {
  top: 15px;
  left: 70px;
  z-index: 2;
}
.secondary-item-image {
  top: 0;
  left: 85px;
  z-index: 1;
}
.actual-item-image img,
.secondary-item-image img {
  object-fit: cover;
  object-position: 0 0;
  margin-left: 16px;
  margin-top: 16px;
  width: 32px;
  height: 32px;
  transform: scale(2);
}
.actual-item-details {
  position: absolute;
  width: 100%;
  top: 85px;
  text-align: center;
}
.item-list {
  overflow-y: scroll;
  scrollbar-color: rgba(255, 252, 243, 0.5) #181f26;
  height: calc(100vh - 145px);
  background-color: rgba(0,0,0,0.25)
}
.item-select {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  border: 2px outset #181f26;
  width: 36px;
  height: 36px;
}
.item-select.active {
  border: 2px inset #b37f00;
  background-color: rgba(0, 0, 0, 0.47);
  color: #fff;
}
.item-select img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: 0 0;
}

.map-row {
  height: 32px;
  display: flex;
  user-select: none;
}
.sqm {
  display: inline-block;
  position: relative;
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
  background-color: #000;
  user-select: none;
}
#item-preview {
  opacity: 0.5;
}
.item {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.item[data-item-size="1"] {
  width: 32px;
  height: 32px;
}
.item[data-item-size="2"] {
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
}
.modal-header {
  background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
  color: #fafafa;
}
.form-group label {
  margin-top: 5px;
}

.item[data-item-quantity="1"] {
  background-position: left 0 top 0;
}
.item[data-item-quantity="2"] {
  background-position: left 0 top -32px;
}
.item[data-item-quantity="3"] {
  background-position: left 0 top -64px;
}
.item[data-item-quantity="4"] {
  background-position: left 0 top -96px;
}
.item[data-item-quantity="5"],
.item[data-item-quantity="6"],
.item[data-item-quantity="7"],
.item[data-item-quantity="8"],
.item[data-item-quantity="9"] {
  background-position: left 0 top -128px;
}
.item[data-item-quantity="10"],
.item[data-item-quantity="11"],
.item[data-item-quantity="12"],
.item[data-item-quantity="13"],
.item[data-item-quantity="14"],
.item[data-item-quantity="15"],
.item[data-item-quantity="16"],
.item[data-item-quantity="17"],
.item[data-item-quantity="18"],
.item[data-item-quantity="19"],
.item[data-item-quantity="20"],
.item[data-item-quantity="21"],
.item[data-item-quantity="22"],
.item[data-item-quantity="23"],
.item[data-item-quantity="24"] {
  background-position: left 0 top -160px;
}
.item[data-item-quantity="25"],
.item[data-item-quantity="26"],
.item[data-item-quantity="27"],
.item[data-item-quantity="28"],
.item[data-item-quantity="29"],
.item[data-item-quantity="30"],
.item[data-item-quantity="31"],
.item[data-item-quantity="32"],
.item[data-item-quantity="33"],
.item[data-item-quantity="34"],
.item[data-item-quantity="35"],
.item[data-item-quantity="36"],
.item[data-item-quantity="37"],
.item[data-item-quantity="38"],
.item[data-item-quantity="39"],
.item[data-item-quantity="40"],
.item[data-item-quantity="41"],
.item[data-item-quantity="42"],
.item[data-item-quantity="43"],
.item[data-item-quantity="44"],
.item[data-item-quantity="45"],
.item[data-item-quantity="46"],
.item[data-item-quantity="47"],
.item[data-item-quantity="48"],
.item[data-item-quantity="49"] {
  background-position: left 0 top -192px;
}
.item[data-item-quantity="50"],
.item[data-item-quantity="51"],
.item[data-item-quantity="52"],
.item[data-item-quantity="53"],
.item[data-item-quantity="54"],
.item[data-item-quantity="55"],
.item[data-item-quantity="56"],
.item[data-item-quantity="57"],
.item[data-item-quantity="58"],
.item[data-item-quantity="59"],
.item[data-item-quantity="60"],
.item[data-item-quantity="61"],
.item[data-item-quantity="62"],
.item[data-item-quantity="63"],
.item[data-item-quantity="64"],
.item[data-item-quantity="65"],
.item[data-item-quantity="66"],
.item[data-item-quantity="67"],
.item[data-item-quantity="68"],
.item[data-item-quantity="69"],
.item[data-item-quantity="70"],
.item[data-item-quantity="71"],
.item[data-item-quantity="72"],
.item[data-item-quantity="73"],
.item[data-item-quantity="74"],
.item[data-item-quantity="75"],
.item[data-item-quantity="76"],
.item[data-item-quantity="77"],
.item[data-item-quantity="78"],
.item[data-item-quantity="79"],
.item[data-item-quantity="80"],
.item[data-item-quantity="81"],
.item[data-item-quantity="82"],
.item[data-item-quantity="83"],
.item[data-item-quantity="84"],
.item[data-item-quantity="85"],
.item[data-item-quantity="86"],
.item[data-item-quantity="87"],
.item[data-item-quantity="88"],
.item[data-item-quantity="89"],
.item[data-item-quantity="90"],
.item[data-item-quantity="91"],
.item[data-item-quantity="92"],
.item[data-item-quantity="93"],
.item[data-item-quantity="94"],
.item[data-item-quantity="95"],
.item[data-item-quantity="96"],
.item[data-item-quantity="97"],
.item[data-item-quantity="98"],
.item[data-item-quantity="99"],
.item[data-item-quantity="100"] {
  background-position: left 0 top -224px;
}